<p class="text-center">黒32枚、白32枚で、引き分けです</p>
<table class="reversi-table mx-auto" border="1">
  <tr>
    <td class="senko">●</td>
    <td class="kouko">●</td>
    <td class="senko">●</td>
    <td class="kouko">●</td>
    <td class="senko">●</td>
    <td class="kouko">●</td>
    <td class="senko">●</td>
    <td class="kouko">●</td>
  </tr>
  <tr>
    <td class="kouko">●</td>
    <td class="senko">●</td>
    <td class="kouko">●</td>
    <td class="senko">●</td>
    <td class="kouko">●</td>
    <td class="senko">●</td>
    <td class="kouko">●</td>
    <td class="senko">●</td>
  </tr>
  <tr>
    <td class="senko">●</td>
    <td class="kouko">●</td>
    <td class="senko">●</td>
    <td class="kouko">●</td>
    <td class="senko">●</td>
    <td class="kouko">●</td>
    <td class="senko">●</td>
    <td class="kouko">●</td>
  </tr>
  <tr>
    <td class="kouko">●</td>
    <td class="senko">●</td>
    <td class="kouko">●</td>
    <td class="senko">●</td>
    <td class="kouko">●</td>
    <td class="senko">●</td>
    <td class="kouko">●</td>
    <td class="senko">●</td>
  </tr>
  <tr>
    <td class="senko">●</td>
    <td class="kouko">●</td>
    <td class="senko">●</td>
    <td class="kouko">●</td>
    <td class="senko">●</td>
    <td class="kouko">●</td>
    <td class="senko">●</td>
    <td class="kouko">●</td>
  </tr>
  <tr>
    <td class="kouko">●</td>
    <td class="senko">●</td>
    <td class="kouko">●</td>
    <td class="senko">●</td>
    <td class="kouko">●</td>
    <td class="senko">●</td>
    <td class="kouko">●</td>
    <td class="senko">●</td>
  </tr>
      <tr>
    <td class="senko">●</td>
    <td class="kouko">●</td>
    <td class="senko">●</td>
    <td class="kouko">●</td>
    <td class="senko">●</td>
    <td class="kouko">●</td>
    <td class="senko">●</td>
    <td class="kouko">●</td>
  </tr>
  <tr>
    <td class="kouko">●</td>
    <td class="senko">●</td>
    <td class="kouko">●</td>
    <td class="senko">●</td>
    <td class="kouko">●</td>
    <td class="senko">●</td>
    <td class="kouko">●</td>
    <td class="senko">●</td>
  </tr>
</table>
<br />
<div class="text-center">
  <%= link_to("/") do %>
    <button type="button" class="btn btn-link">スタート画面に戻る</button>
  <% end %>
</div>